# Python
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd
**/.Python
**/env/
**/venv/
**/.venv/
**/.env

# Node
**/node_modules/
**/build/
**/.cache/

# OS
.DS_Store

# DB & media
*.db
*.sqlite
*.mp4
*.zip

# Others
*.log
